html body{
    overflow-x: hidden;
}
.container-fluid.ml-5{
    position: absolute;
    top: 200px;
    
}
.img-fluid{
    width: 100%;
    height: 640px;
}
.lead.text{
    color: #919191;
}
.jumbotron.jumbotron-fluid{
    background-image: url('assets\img\Landscape_1.png');
    height: 40rem;
    padding: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito';
}

.jumbotron.jumbotron-fluid h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}
#info-saison-episode{
    font-style: italic;
    color: #7CD8FE;
}
.jumbotron.jumbotron-fluid p{
    color: #fff;
    font-weight: 400;
}
#watch{
    font-weight: 800;
    background-color: #7CD8FE;
    border: none;
    border-radius: 5px;
}
#playlist{
    font-weight: 800;
    background: transparent;
    border: 1.5px solid #7CD8FE;
    border-radius: 5px;
}
#playlist:hover{
    background-color: #7CD8FE;
    color: #919191;
}
h3{
    font-size: 1.2rem;
    font-weight: 700;
    color: #7CD8FE;
}

.col-md3.miniature:hover{
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
.col-md3.miniature:hover .message-freemium{
    visibility: visible;

}


.message-freemium{
    background-color: rgba(15, 15, 15, 0.85);
    position: relative;
    top: -40px;
    font-size: 0.7rem;
    color: #7CD8FE;
    overflow: hidden;
}

.col-md4.cover1:hover .message-freemium, .col-md4.cover2:hover .message-freemium{
    visibility: visible;
}
.btn.btn-light.btn-sm.info{
    background: none;
    border: none;
    color: #7CD8FE;
    margin-left: 35px;
}
